{% extends 'base.html' %}

{% block title %} BOGGLE {% endblock %}

{% block board %} 
  {% for row in board_list %} 
    <tr> 
      {% for letter in row %}
        <td>{{letter}}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  
{% endblock %}

{% block form %} 
  <form id="user-input">
    <input type="text" name="test_word" id="test-word">
    <button type ="submit">Submit</button>
  </form>
{% endblock %}

{% block comments %} 
<div>
  <span>Score:</span><span id="score"> 0</span><span>      Seconds Left:</span><span id="timer"> 6</span>
</div>
<div>
  <p id="response"></p>
</div>
{% endblock %}